<center>
    <h1>Machine Learning</h1>
    <h2>Lab 6</h2>
</center>

<h3>Write a python code to apply Naive Bayesian algorithm to classify that whether a person can buy computer or not based on given test data</h3>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Buy_Computer.csv")
df.head()

   id         age  income student credit_rating Buy_Computer
0   1       youth    high      no          fair           no
1   2       youth    high      no     excellent           no
2   3  middle_age    high      no          fair          yes
3   4      senior  medium      no          fair          yes
4   5      senior     low     yes          fair          yes

In [3]:
df = df.drop(['id'], axis=1)
df.head()

          age  income student credit_rating Buy_Computer
0       youth    high      no          fair           no
1       youth    high      no     excellent           no
2  middle_age    high      no          fair          yes
3      senior  medium      no          fair          yes
4      senior     low     yes          fair          yes

In [4]:
df.age.unique()

array(['youth', 'middle_age', 'senior'], dtype=object)

In [5]:
df.income.unique()

array(['high', 'medium', 'low'], dtype=object)

In [6]:
df.student.unique()

array(['no', 'yes'], dtype=object)

In [7]:
df.credit_rating.unique()

array(['fair', 'excellent'], dtype=object)

In [8]:
df.Buy_Computer.unique()

array(['no', 'yes'], dtype=object)

In [9]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [10]:
df['age']= label_encoder.fit_transform(df['age'])
df['income']= label_encoder.fit_transform(df['income'])
df['student']= label_encoder.fit_transform(df['student'])
df['credit_rating']= label_encoder.fit_transform(df['credit_rating'])
df['Buy_Computer']= label_encoder.fit_transform(df['Buy_Computer'])

In [11]:
df.head()

   age  income  student  credit_rating  Buy_Computer
0    2       0        0              1             0
1    2       0        0              0             0
2    0       0        0              1             1
3    1       2        0              1             1
4    1       1        1              1             1

In [12]:
X = df.drop(['Buy_Computer'], axis=1)
y = df.Buy_Computer

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [14]:
from sklearn.naive_bayes import GaussianNB

gaussian_clf = GaussianNB()
gaussian_clf.fit(X_train, y_train)
gaussian_clf.score(X_test, y_test)

0.8